*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

.admin-contaner{
    margin: 0;
    display: flex;
}
nav{
    padding: 1.7rem;
    background-color: #fff;
    display: flex;
    justify-content: right;
}
.navigate{
    background-color: #ddd;
    margin: 0;
    height: 100vh;
    width: 20%;
    left: o;
    top: 0;
    scroll-behavior: smooth;
    position: sticky;
}
.activities{
    background-color: #fff;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ddd;
    top: 0;
    position: sticky;
    scroll-behavior: smooth;
    z-index: 9999;
    position: -webkit-sticky;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
.card{
    background-color: rgb(34, 33, 33);
    padding: 2rem;
    color:white;
}
li{
    display: flex;
}
.lod{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.links{
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 3rem;
}
.loge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loge img{
    width: 70px;
    border-radius: 50%;
}
.loge  h1{
    font-size: 1rem;
}
.getAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
    margin-top: 1rem;
    

}

/* Default styles */
table {
    border-collapse: collapse;
    background-color: aqua;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  th, td {
    font-size: 1.2rem;
    border: 1px solid grey;
    padding: 0.3rem;
  }
  
  th {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    font-weight: bold;
  }
  @media(max-width:777px){
    th, td {
        font-size: 0.7rem;
        border: 1px solid grey;
        padding: 0.2rem;
      }
      
      th {
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem;
        font-weight: bold;
      }
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 600px) {
    th, td {
      font-size: 1rem;
    }
  
    th {
      padding: 0.3rem;
    }
  
    td {
      padding: 0.2rem;
      font-weight: normal;
    }
  
    /* Hide the table headers */
    th {
      display: none;
    }
  
    /* Display table cells as block elements */
    td {
      display: block;
      text-align: left;
    }
  
    /* Add some spacing between rows */
    tr {
      margin-bottom: 1rem;
    }
    h1{
        font-size: 1.4rem;
    }
  }

  @media(max-width:727px){
     .navigate{
        display: none;
     }
  }

  @media(max-width:587px){
        .card h2{
            font-size: 1rem;
        }
        .card{
            padding: 1rem;
        }
  }

  @media(max-width:417px){
    h1{
        font-size: 1rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 50%;
    }
  }

  /* ------------------------------------------------------------------------- */
  .buttonn{
    display: flex;
    justify-content: center;
  }
  .buttonn button{
    width: 100%;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: rgb(255, 0, 221);
  }
  .buttonn button:hover{
    background-color: rgb(238, 27, 143);
    color: #ddd;
  }


  .message{
    padding: 0rem 2rem;
  }
  #wel-mess{
    font-size: 1.5rem;
    text-align: center;
  }
  .message-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  @media(max-width:925px){
    .message-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }
  }
  .card-mess{
    background-color: #ddd;
    padding: 1rem;
    /* width: 20%; */
  }
  #date{
    font-size: 1rem;
    color: rgb(255, 0, 140);
    text-align: right;
  }
  #name{
    font-size: 1rem;
  }
  #email{
    padding: 0.4rem 0rem;
  }
  p{
    padding-bottom: 0.4rem;
  }
/* --------------------------------------------------------------------------------------- */

.user-update{
  background-color: rgb(238, 27, 143);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  display: none;
}
.user-update h1{
   font-size: 1.2rem;
   text-align: center;
   padding-top: 0.6rem;
}
.user-update form{
  width: 77%;
}
.user-update form .button{
   padding: 1rem 0rem;
   display: flex;
   justify-content: center;
}
.user-update form .button button{
   width: 50%;
   border-radius: 0.3rem;
   padding: 0.2rem;
}
  