*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blog-container{
    background-image: linear-gradient(to right,rgb(17, 17, 17),white);
    height: 100vh;
    padding: 4rem 3rem;
}
.error{
    color: brown;
}
a{
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
}
a i{
    font-size: 2rem;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: whitesmoke;
    width: 30%;
    padding: 2rem;
    border-radius: 0.6rem;
}
label{
    padding: 2rem 0rem;
    font-size: 1.5rem;
    
    margin: 2rem 0rem;
}
input{
    width: 100%;
    padding: 0.5rem;
}
textarea{
    width: 100%;
}
h1{
    padding: 2rem 0rem;
}
.button{
    padding: 2rem 0rem;
}
button{
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    background-color:rgb(177, 15, 163);
    color: whitesmoke;
}
button:hover{
    background-color: rgb(238, 9, 219);
    color: azure;
}

.post{
    display: none; 
}
.Update{
    display: none; 
}

.buttonm{
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}