@media(max-width:1071px){
    .nav-link,.nav-links{
        font-size: 1.5rem;
    }
    .links{
        gap: 1rem;
    }
}
@media(max-width:855px){

    .imagee img{
        width: 200px;
    }
    .about{
        width: 60%;
    }
    .links{
        gap: 0rem;
    }
    .nav-link,.nav-links{
        font-size: 1rem;
    }
}
@media(max-width:643px){
    .computer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .loptop{
        width: 100%;
    }
    .poltifolio-container{
        height: auto;
    }
    .poltifolio{
        height: auto;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .imagee img{
        width: 100%;
        
    }
    .about{
        width: 100%;
    }
    .logo h1 span{
        font-size: 1rem;
    }
    .logo h1{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }
    .about-container{
        height: auto;
   }
   .cards-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
   }
   .cards{
    width: 100%;
   }
   .sikills-container{
     height: auto;
   }
}
@media(max-width:569px){
    .computer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
    .loptop{
        width: 100%;
    }
   
    .wellcome-page{
        height: auto;
    }
    .nav-link,.nav-links{
        display: none;
    }
    .menu img{
        display: block;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
   .home{
    display: flex;
    flex-direction: column;
   }
   .text{
    width: 30rem;
   } 
   .one a img{
     width: 30px;
   }
   .buton-contain{
     display: flex;
     flex-direction: column;
     gap: 1rem;
   }
   button{
     width: 100%;
   }
}
@media(max-width:509px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
       }
      
       h5{
        font-size: 2rem;
        border-radius: 0.5rem;
        padding: 0.2rem 2rem;
     }
}
@media(max-width:327px){
    h5{
        font-size: 1.5rem;
        border-radius: 0.5rem;
        padding: 0.2rem 1rem;
     }
}

