*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

.single-blogn{
    background-image: linear-gradient(to bottom, rgb(112, 130, 148),aliceblue,rgb(105, 156, 204));
    padding: 4rem 3rem;
    height: 100vh;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}
.view-comment{
    padding: 2rem 0rem;
}
.view-comment span{
    color: blue;
}

.headrs{
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    
}
.lo p{
   font-size: 4rem;
   color: #af1288; 
   font-weight: bold;
   margin-top: 2rem;

}
@media(max-width:888px){
    ul{
        gap: 1rem;
    }
    .headrs{
        gap: 3rem;
    }
    ul li a{
        font-size: 1.3rem;
    }
    .lo p{
        font-size: 2.5rem;  
    }
}
@media(max-width:600px){
    ul li a{
        display: none;
    }
    .headrs{
        padding: 0rem 3rem;
    }
}
ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
ul li a{
    text-decoration: none;
}
.discritpion{
    background-color: aliceblue;
    padding: 3rem ;
}
.picture{
    width: 40%;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
    padding: 2rem 0rem;
}
p{
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
span{
   margin-top: 2rem;
    font-size: 1.5rem;
}
.favolite{
    display: flex;
    justify-content: space-around;
    padding: 0.4rem 1rem;
    background-color: rgb(77, 75, 75);
    border-radius: 1rem;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: aliceblue;
    font-size: 2rem;
}
i{
    font-size: 3rem;
    color: aliceblue;
}




