*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #fff;
    border-bottom: 3px solid black;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: end;
}
.logo img{
    width: 50px;
    border-radius: 50%;
}
.logo h1{
    font-size: 3rem;
}
.logo h1 span{
    font-size: 2rem;
}
.logo h1 span a{
    text-decoration: none;
    color: #FF00BF;
}

.links{
     display: flex;
     gap: 2rem;
     list-style: none;
}
.nav-link,.nav-links{
     text-decoration: none;
     font-size: 2rem;
     color: #000;
     padding: 1rem;
     
}
.nav-link:hover{
    border-bottom: 2px solid #FF00BF;
}
.nav-links{
    border-radius: 5px;
    background-color: #af1288;
}
.nav-links:hover{
    background-color: #FF00BF;
}

.wellcome-page{
    
    padding: 3rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 250px;
    border-radius: 50%;
}
.text{
    background-color: #242323;
    width: 50rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
   
}
.text h1{
    color: #af1288;
}
.text h1,.text p{
    font-size: 1.5rem;
    padding: 1rem;
}
.text span{
    font-size: 2rem;
}
.text span,.text p{
    color: #fff;
}
.btn{
    padding: 2rem 0rem;
}
.btn button{
    padding: 3px 5px;
    font-size: 1.4rem;
    background-color: #af1288;
    border-radius: 4px;
}
.btn button:hover{
    background-color: #FF00BF;
    color: #fff;
}

.icon{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.one{
    display: flex;
    justify-content: center;
    gap: 2rem;  
}
.one a img{
    width: 50px;
}
.hid-content{
    display: none;
    padding: 2rem;
    font-size:1.5rem;
}

.about-container{
    background-color: #ddd;
    padding: 3rem;
}
.header h2{
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0rem;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.about{
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}
.imagee img{
    width: 300px;
    border-radius: 1.5rem;
   
}
.about p{
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: 500;
}
.buton-contain{
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buton-contain button{
     background-color: #af1288;
     color: #fff;
     font-size: 1.5rem;
     font-weight: 900;
     padding: 1rem 2rem;
     border-radius: 1rem;
}
.buton-contain button:hover{
    background-color: #FF00BF;
}