*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #fff;
    border-bottom: 3px solid black;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     top: 0;
    z-index: 9999;
     position: -webkit-sticky; 
    position: sticky;
    scroll-behavior: smooth; 
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 4rem;
}
.logo h1 span a{
    text-decoration: none;
    color: #FF00BF;
    font-size: 3rem;
}

.links{
     display: flex;
     gap: 2rem;
     list-style: none;
}
.nav-link,.nav-links{
     text-decoration: none;
     font-size: 2rem;
     color: #000;
     padding: 1rem;
     
}
.nav-link:hover{
    border-bottom: 2px solid #FF00BF;
}
.nav-links{
    border-radius: 5px;
    background-color: #af1288;
}
.nav-links:hover{
    background-color: #FF00BF;
}
.menu img{
    width: 50px;
    display: none;
}

.wellcome-page{
    
    padding: 3rem;
    height: 88vh;
    background-image: linear-gradient(to bottom, rgb(112, 130, 148),aliceblue,rgb(105, 156, 204));
    
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    
}

.image img{
    width: 250px;
    border-radius: 50%;
}
.text{
    background-color: #242323;
    width: 50rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
   
}
.text h1{
    color: #af1288;
}
.text h1,.text p{
    font-size: 1.5rem;
    padding: 1rem;
}
.text span{
    font-size: 2rem;
}
.text span,.text p{
    color: #fff;
}
.btn{
    padding: 2rem 0rem;
}
.btn button{
    padding: 3px 5px;
    font-size: 1.4rem;
    background-color: #af1288;
    border-radius: 4px;
}
.btn button:hover{
    background-color: #FF00BF;
    color: #fff;
}

.icon{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.one{
    display: flex;
    justify-content: left;
    gap: 2rem;  
   
}
marquee{
    background-color: #e450bf;
    padding: 2rem;
    font-size: 2rem;
    bottom: 0;
    position: absolute;
}
.one a img{
    width: 20px;
}
.hid-content{
    display: none;
    padding: 2rem;
    font-size:1.5rem;
} 
.welcom-word h2{
        position: absolute;
        animation: moveAndRotate 4s linear infinite;
        font-size: 3rem;
        color: #af1288;
}
@keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    100% {
      transform: translateX(100%) rotate(100deg);
    }
  }
/* ------------------------------------------------------------------------------------------------ */
.header{
    display: flex;
    justify-content: center;
}
.heading-title{
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 1rem;
    display: inline-block;
    position: relative;
}
.heading-title::before{
    content: " ";
    bottom: 0%;
    left: 0%;
    height: 5px;
    width: 25%;
    background-color: rgb(174, 13, 206);
    position: absolute;
    font-size: 1.2rem;
}
.heading-title::after{
    content: " ";
  top: 0%;
  right: 0%;
  height: 5px;
  width: 60%;
  background-color: rgba(231, 20, 221, 0.897);
  position: absolute;
  font-size: 1.2rem;
}

.about-container{
    background-color: #ddd;
    padding: 3rem;
    height: 110vh;
}
.header h2{
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0rem;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.about{
    width: 40%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}
.imagee img{
    width: 300px;
    border-radius: 1.5rem;
   
}
.about p{
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: 500;
}
.buton-contain{
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buton-contain button{
     background-color: #af1288;
     color: #fff;
     font-size: 1.5rem;
     font-weight: 900;
     padding: 1rem 2rem;
     border-radius: 1rem;
}
.buton-contain button:hover{
    background-color: #FF00BF;
}
/* ---------------------------------------------------------- */
.poltifolio-container{
    height: auto;
   background-color: #363535;
    padding: 2rem;
}
.destination{
    padding-top: 3rem;
}
.destination img{
     width: 150px;
     border-radius: 50%;
     border: 3px solid #FF00BF;
}
.destination p{
    font-size: 1.5rem;
    color: #fff;
}
.destination p a{
    color: #af1288;
}
.destination h6{
    font-size: 2.3rem;
    color: aliceblue;
    padding: 2rem;
}
.destination h6 span{
    font-weight: bold;
}
.computer{
    display: flex;
    justify-content: space-around; 
     padding: 2rem 0rem; 

}
.loptop{
    width: 30%;
    background-color: #FF00BF;
    height: 40vh;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.loptop img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.lop-top{
    border-radius: 12px;
      transition: all 10s;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
}
.loptop-text{
    display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      display: none;
      overflow: hidden;
    
      align-items: center;
      border-radius: 12px;
      padding: 3rem;
      transition: all 0.8s;
      animation-name: scroll;
      animation-duration: 1s;
      backdrop-filter: blur;
      justify-content: center;
      background-color: #FF00BF;
}
.lop-top:hover .loptop-text {
    display: flex;
  }
@keyframes scroll {
    0% {
      transform: translateY(80%);
    }
    100% {
        transform: translateY(0%);
      }
}
.loptop-text h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .loptop-text p {
    font-size: 1.5rem;
    color: #0804e7;
  }
.lop-icon {
background-color: #eee;
display: block;
margin-top: 1.5rem;
padding: 1.5rem;
border-radius: 50%;
}
.lop-icon img{
    width: 40px;
}
/* ----------------------------------------------------------------------------------------- */
 .sikills-container{
    height: 110vh;
    background-image: url("./Images/home\ 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    /* background-attachment: fixed; */
    padding: 5rem 3rem;
 }
 .triangle{
    padding: 2rem 2rem;
 }
 .oners{
    display: flex;
    justify-content: center;
 }
 .duoble{
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
    padding: 0.6rem;
 }
 h5{
    font-size: 3rem;
    background-color: #FF00BF;
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem 3rem;
 }

 .cards-container{
    display: flex;
    justify-content: space-around;
 }
 .cards{
    background-color: #86b6c9;
    padding: 2rem;
    width: 30%;
    border-radius: 1rem;
    transition: all 3s;
    cursor: pointer;
 }
 .cards h3{
    padding: 2rem 0rem;
    font-size: 2rem;
    color: #af1288;
 }
 .cards p{
    padding-bottom: 2rem;
    font-size: 1.5rem;
 }
 .cards span a{
    font-size: 1.4rem;
    text-decoration: none;
 }
 .cards:hover{
    transform: translate(-4px,4px);
    background-color: #FF00BF;
 }
 /* ------------------------------------------------------------------------------------------- */

 .Blogs-page{
    background-color: #272626;
    height: auto;
    padding: 3rem 2rem;
    position: relative;
 }

 .spinner{
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid rgb(36, 35, 35);
    border-radius: 50%;
    border-top: 4px solid rgb(250, 248, 248);
    top: 50%;
    left: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    /* display: none; */
  }
  
  @keyframes spin{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
 .link-blogs{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
 }
 .two{
    display: flex;
    gap: 2rem;
    list-style: none;
 }
 .picture img{
    width: 100%;
    height: 100%;
 }
 li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
 }
 li a:hover{
    color: #FF00BF;
 }
 .card-blogs{
    padding: 3rem;
 }
.carder{
    display: flex;
    background-color: #ddd;
    margin: 1.4rem 0rem;
}
.decription{
    padding: 2rem;
    width: 80%;
}
h2{
    font-size: 2.3rem;
    color: #000;
}
h3{
    font-size: 1.9rem;
    padding: 1.6rem 0rem;
}
p{
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
}
span a{
    text-decoration: none;
    font-size: 1.2rem;
}
.favolite{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0rem;
}
.favolite li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.favolite a{
    text-decoration: none;
}
i{
    font-size: 1.8rem;
}
/* ---------------------------------------------------------------------------------- */
.contact-contain{
    background-color: #ddd;
    padding: 3rem 2rem;
} 
.contact{
    /* background-color: #af1288; */
    padding: 2rem;
}
.def-card{
    display: flex;
    justify-content: center;
    gap: 2rem;
   
}
.contact-left{
    background-color: #555353;
    padding: 2rem;
    width: 35%;
}
.rigth{
    background-color: #1b1a1ae8;
    display: flex;
    align-items: center;
    width: 45%;
}
.letter{
    padding: 2rem;
    background-color: #af1288;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.letter p{
    text-align: center;
    padding-top: 1rem;
}
.letter img{
    width: 100px;
}
form{
    width: 100%;
    padding: 2rem;
    height: 100%;
}
form label input{
    width: 100%;
}
form label{
    font-size: 1.4rem;
    color: #eee;
    padding-bottom: 2rem;
}
.padd{
    padding-bottom: 2rem;
}
textarea{
    width: 100%;
}
.media-icons{
    display: flex;
    gap: 0.4rem;
}
.social-media-icons-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-media-icons-links i{
    font-size: 2rem;
}

button{
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}
button:hover{
    background-color: #af1288;
    color: #eee;
}


.login-blog{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    background-color: #111111;
    padding: 2rem;
    border-radius: 1rem;
    display: none;

}
h1{
    color: #fdfbfb;
}
.part{
    padding: 2rem 0rem;
}
input{
    padding: 0.4rem;
}


  